/*grid stylesheet*/

*,*::after,*::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizig: border-box;
}


[class^='col-'] {/*anything with col will take on these properties*/
	float:left;
	padding:0;
	text-align:center;
}


.col-2of10{
	width:20%;
}

@media (max-width:55em){
	.col-2of10{
		width:100%;
	}

	.nav-icons-group{
		margin-left: auto; 
    	margin-right: auto;
    	width:50%;
	}
}


.col-8of10{
  width:80%;
}

@media (max-width:100em){
  .col-8of10{
    width:100%;
  }
	
}

@media (max-width:32em){

	.home-text-group p{
	  line-height: 1.3em;
	  font-size:0.85714286em; /* 12 px */
	}

	.home-text-group{
		padding-top:4em !important; /*overrides padding styling*/
		padding-bottom:4em !important;
	}
}



.grid{
	/*include these 3 codes in ur css as a safety mechanism*/
	content: "";
	display:block;
	clear:both;
}


