/*grid stylesheet*/

*,*::after,*::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizig: border-box;
}


[class^='col-'] {/*anything with col will take on these properties*/
	float:left;
	padding:0;
	text-align:center;
}


.col-2of10{
	width:20%;
}

@media (max-width:55em){
	.col-2of10{
		width:100%;
	}

	.nav-icons-group{
		margin-left: auto; 
    	margin-right: auto;
    	width:50%;
	}
}


.col-8of10{
  width:80%;

}

@media (max-width:100em){
  .col-8of10{
    width:100%;
  }
	
}

@media (max-width:32em){


	p,li{
	  font-size:0.85714286em; /* 12 px */
	  margin-top: 3em !important;
	}

	.home-text-group, .home-text-group-2, .home-text-group-3, .blog-container{
		padding-top:2em !important; /*overrides padding styling*/
		padding-bottom:4em !important;
	}

	.home-text-group-2 h1, .home-text-group-3 h1, .blog-container h1 {
		margin-top: 2em !important;
	}

	h5{
	  font-size: 3em !important; /* 52 px*/ 
	}
	h7{
	  font-size: 1.14285714em !important; /* 16 px */
	}

	.dotted-line-separator hr{
	  margin-top: 3em !important;
	  margin-bottom: 1em !important;
	}

	.blog-content-text{
	  padding-left:0 !important;
	}

	.blog-content-text p, .blog-content p, li{
	  margin-top: 0.5em !important;
	}

}

@media (max-width:59em){ /*text wraps arnd image until 59, then floats left*/
	.blog-content-text{
		float:left;
	}
}



  .col-8of10{
  width:80%;
}

@media (max-width:100em){
  .col-8of10{
    width:100%;
  }
}



.grid{
	/*include these 3 codes in ur css as a safety mechanism*/
	content: "";
	display:block;
	clear:both;
}


